.card {
  max-width: 10rem;
  font-family: "Pokemon Classic";
  border: 1px solid black;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);

  --notchSize: 1rem;

  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 100%,
    0% 100%
  );
}
