.card {
  max-width: 10rem;
  font-family: "Ariston Comic Font";
  font-size: 2rem;
  font-weight: 300;
  color: var(--blue);
  background-color: #ffffff77;
  border: 1px solid #00000032;
  padding: 1rem;
  border-radius: 0.8rem;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pokemon-name {
  margin-top: 1rem;
}
